.sidebarWrapper {
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 20%), 4px 0 5px 0 rgba(0, 0, 0, 14%),
    1px 0 10px 0 rgba(0, 0, 0, 12%);
}

.menuIcon {
  width: 100%;
  min-width: 30px;
  max-width: 30px;
  object-fit: contain;
}

a.active {
  color: red;
}
