/* header */
.header-box {
  height: var(--headerSize);
}

.grid-container {
  padding: 0.5rem;
  padding-bottom: 0;
  /* padding-top: 1rem;
  flex: 1 1 0; */
}

.fullpage {
  height: calc(100vh - var(--headerSize));
}

.fullpage.noScroll {
  overflow: hidden;
}

.fullHeight {
  min-height: 100vh;
}

.menuSidebar,
.sectionContent {
  overflow: auto;
}

.content-wrapper {
  max-width: 1600px;
  width: 100%;
  display: block;
  margin: 0 auto;
}