:root {
  --headerSize: 80px;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90%;
  max-width: 1350px;
  display: block;
  margin: 0 auto;
}

.fullpage {
  min-height: calc(100vh - var(--headerSize));
}
